<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Utwórz swój klub</title>
	</head>
	<body>
		<form action="/event/edited" method="post">
			<label for="title">Utwórz własny klub</label><br />
			<input type="text" name="title" id="title" />

			<input
				type="hidden"
				id="eventId"
				name="eventId"
				value="{{eventId}}"
			/>

			<input type="submit" value="Stwórz klub" />
		</form>

		<h4>Twoje kluby</h4>
		{% if clubs.your != []: %}

		<ul>
			{% for club in clubs.your %}
			<li>
				<p>{{club[0]}}</p>
			</li>
			{% endfor %}
		</ul>

		{% else: %}

		<p>Nie jesteś jeszcze w żadnym klubie</p>

		{% endif %} {% if clubs.managed != []: %}
		<h4>Zarządzane kluby</h4>
		<ul>
			{% for club in clubs.managed %}
			<li>
				<p>{{club[0]}}</p>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<h4>Inne kluby</h4>
		{% if clubs.other != []: %}

		<ul>
			{% for club in clubs.other %}
			<li>
				<p>{{club[0]}}</p>
			</li>
			{% endfor %}
		</ul>

		{% else: %}

		<p>Jesteś we wrzystkich klubach</p>

		{% endif %}
	</body>
</html>
