<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Utwórz swój klub</title>
	</head>
	<body>
		<form action="/club/create" method="post">
			<label for="name">Utwórz własny klub</label><br />
			<input type="text" name="name" id="name" />
			<input type="submit" value="Stwórz klub" />
		</form>

		<h4>Twoje kluby</h4>
		{% if clubs.your != []: %}

		<ul>
			{% for club in clubs.your %}
			<li>
				<p>
					{{club[0]}}
					<a href="/club/leave?clubID={{club[1]}}">Opuść</a>
				</p>
			</li>
			{% endfor %}
		</ul>

		{% else: %}

		<p>Nie jesteś jeszcze w żadnym klubie</p>

		{% endif %} {% if clubs.managed != []: %}
		<h4>Zarządzane kluby</h4>
		<ul>
			{% for club in clubs.managed %}
			<li>
				<p>
					{{club[0]}} {% if club[2] %}
					<a href="/club/leave?clubID={{club[1]}}">Opuść</a>
					{% endif %}
					<a href="/club/remove?clubID={{club[1]}}">Usuń</a>
                    <a href="/club/stats?clubID={{ club[1] }}">Statystyki</a>
				</p>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<h4>Inne kluby</h4>
		{% if clubs.other != []: %}

		<ul>
			{% for club in clubs.other %}
			<li>
				<p>
					{{club[0]}}
					<a href="/club/join?clubID={{club[1]}}">Dołącz</a>
				</p>
			</li>
			{% endfor %}
		</ul>

		{% else: %}

		<p>Jesteś we wrzystkich klubach</p>

		{% endif %}
	</body>
</html>
