<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dołącz do treningów</title>
	</head>
	<body>
		<form action="/event/add" method="post">
			<label for="name">Nazwa wydarzenia</label><br />
			<input type="text" name="name" required /> <br /><br />

			<label for="time">Rozpoczęcie treningu</label><br />
			<input type="datetime-local" id="time" name="time" required />
			<br /><br />

			<label for="duration">Czas trwania (w minutach)</label><br />
			<input type="number" id="duration" name="duration" required />
			<br /><br />

			<label for="club">Klub</label><br />
			<select name="club" id="club" required>
				<option value="1">Test Club</option>
				<option value="12">Test Club 2 (nie ma xd)</option>
			</select>
			<br /><br />

			<input type="submit" value="Utwórz" />
		</form>
		<ul>
			{% for event in events %}
			<li>
				{{ event.summary }} at {{ event.start.pretty }} ({{
				event.stats.yes }} / {{ event.stats.all }})
				<a href="/event/attendance?eventId={{event.id}}">Lista</a>
				<a href="/event/edit?eventId={{event.id}}">Zmień</a>
				<a href="/event/remove?eventId={{event.id}}">Usuń</a>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
