<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Member</th>
                <th>Date 1</th>
                <th>Date 2</th>
                <th>Date 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>wolan</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
            </tr>

        </tbody>
    </table>
</body>
</html>